body{
	font-family: 'Raleway';
	font-weight: 300;
	background-color: #EAEAEA;
}

header{
	background-color: gray;
}

nav{
	background-color: #FFF;
	padding: 5px;
}


.main-info{
	 max-width: 500px;
	 margin: 0 auto;
	 text-align: center;
}

.header-img {
    float: left;
    height: 100px;
    padding-left: 1em;
}
h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

ul { list-style-type: none; }

nav ul li { 
	display: inline-block;
	text-align: right;
	padding-left: 1.5em;
}

nav ul li a {
	text-decoration: none;
}

#profile-pic{
	width:300px;
	height:300px;
	border-radius:300px;
	padding-bottom: 5px;
}