*{
	box-sizing: border-box;
}

/*.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/



[class*="col-"]{
	float: left;
	padding: 15px;
	border: 1px solid red;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

html, body{
	margin: 0;
}

li{
	list-style-type: none;
}

body{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	background-color: #EAEAEA;
}

header {
	height: 70px;
	background-color: rgb(250,250,250);
	position: fixed;
    border-bottom: 4px solid rgb(68,44,121);
    width: 100%;
    z-index: 100;
   	margin-top: 0px;
}

header > nav {
    text-align: center;
    padding-right: 0.5em;
}


header > nav ul { 
	list-style-type: none; 
	margin-top: 40px;
	max-width: 90%;
	float: none;
}

header > nav ul li { 
	display: inline-block;
}

header > nav ul li a{
	text-decoration: none;
	text-align: right;
	font-weight: 500;
	padding: 0 1em;
	color:#000;
}

header > nav ul li a .navtext{
	font-size: 14px;
}

header >  nav ul li a:hover{
	color: rgb(68,44,121);
	font-weight: 700;
/*	border-bottom: 3px solid rgb(68,44,121);
	padding-bottom: 5px;*/
}

.header-img {
    float: left;
    height: 7.25em; /*100px*/
    padding-left: 1.5em;
    margin-top: -2em;
    border-bottom: none;
}

/*#profile-pic{
	width:300px;
	height:300px;
	border-radius:300px;
	padding-bottom: 5px;
}*/

#heroshot{
	position: relative;
	width: 100%;
	background-image: url(../images/placeholder.jpg);
	height: 400px;
	background-size: cover;
	background-position: center;
	z-index: 99;
	padding: 0px;
	margina: 0px;
}

#heroshot h1{
	display:inline;
}
.content{
	padding: 90px 50px 0px 50px;
}

p, a, img{
	text-decoration: none;
}

#about{
	max-width: 50em;
	margin: 0 auto;
}

#about-alli{
	text-align: center;
}


#jobrole{
	text-align: center;
}

#contact{
	text-align: center;
}

#contactinfo{ 
	text-align: center; 
	display: block;
}

.portfolio-img.col-3 {
    display: block;
    width: 100%;
    align-items: center;
    padding: 5px;
}

/*#portfolio{
	position: relative;
	width: 100%;
	min-height: 400px;
	background-color: #fff;
	text-align: center;
}
*/

/* SECTIONS */

.section{
	clear: both;
	padding: 20px 0;
}


.content-section > div {
    display: inline-block;
    margin: 20px;
}

.content-section {
	margin-top: 1em;
}


.divider{
	width: 300px;
	color: rgb(68,44,121);
	margin-top: 0;
}

.portfolio-img{
	display: block;
	max-width: 90%;
}

.portfolio-img:hover{
	opacity: 0.7;
	display: auto;
	border-bottom: 1px solid black;
 }

/*BUTTON STYLES */
.button {
	height: 2em;
	width: 10em;
	background: rgba(68,44,121, 0.5);
	border: 2px solid rgba(68,44,121, 0.6);
  	padding: 5px 40px;
	display: block;
	border-radius: 0.5em;

/*TEXT STYLES FOR BUTTON */
	color: white;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	margin: auto;
}

.button:hover {
	background: rgb(68,44,121);
}

/*SOCIAL ICONS*/

.social {
	height:2em; 
	padding: 0 0.5em; 
	opacity: 0.2;
	float: none;
	margin: 0;
}

.social:hover {
	height:2.5em; 
	padding: 0 0.5em; 
	opacity: 0.9;
	margin: 0;
}

/* FOOTER */

footer > .legaline{
	font-size: .75em;
	font-weight: 300;
	text-align: center;
	padding-bottom: 1em;
}

.nav2{
	display:none;
}

/* LOGO PAGE */
h1.portfoliotitle{
	text-transform: uppercase;
	font-weight: 300;
	padding-left: 23px;
}




/* MEDIA QUERIES */

@media only screen and (max-width: 330px) {
	.content-section > div {
	    display: block;
	}
	header > nav ul li a {
		padding: 10px;
		color: black;
		text-decoration: none;
		font-size: 11px;
	}

	header > nav ul li a:hover {
		padding: 10px;
		color: rgb(68,44,121);
		text-decoration: none;
	}
	.header-img {
		float: left;
		padding-left: 1em;
	}

}


@media(max-width: 601px){	/*change nav to be the hamburger icon*/

	header{
		height: 50px;
	    border-bottom: 2px solid rgb(68,44,121);

	}

	header > nav ul { 
		margin-top: 22px;
	}

	header > nav ul li a {
		padding: 5px;
		color: #000;
		font-size: 12px;
		margin-bottom: 5px;
	}

	.header-img {
	    float: left;
	    height: 5em; /*100px*/
	    padding-left: 1.5em;
	    margin-top: -1em;
	    border-bottom: none;
	}
}


/*@media(max-width: 1121px){

}*/


